
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: linear-gradient(-45deg, #000000, #082e25, #1e8147c7, #000000d3);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    min-height: 100vh;
    display: flex;
}
@keyframes gradientMove {
    0%   { background-position: 0% 50%; }
    25%  { background-position: 100% 50%; }
    50%  { background-position: 100% 50%; }
    75%  { background-position: 0% 50%; }
    100% { background-position: 0% 50%; }
}

.navegador-principal {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 90vh;
    display: flex;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.479);
}
.sidebar {
    width: 250px;
    background: #000;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #85ffb4;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-nav ul {
    list-style: none;
}

.sidebar-nav li {
    margin-bottom: 15px;
}

.sidebar-nav a {
    color: #92ebb4e8;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    display: block;
    border-radius: 8px;
    transition: background 0.1s ease;
}

.sidebar-nav a:hover {
    background: #108f41;
}

.sidebar-user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.user-avatar {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
}

.user-info p {
    font-size: 14px;
    color: #abffcb;
}

.user-name {
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.main-header h1 {
    margin-bottom: 20px;
    color: #024728;
    font-weight: bold;
    text-shadow: 0 0 4px #85ffb44f;
    
}
.metas-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #01341e;
    margin: 0 auto; 
}

.metas-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(0, 0, 0, 0.07);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.metas-form label {
    font-weight: bold;
    color: #004528;
    margin: 0 auto; 
}

.metas-form input {
    border-radius: 8px;
    border: 1px solid #004428;
    outline: none;
    padding: 8px;
    width: 70%;
    margin: 0 auto; 


}

.metas-form input:focus {
    border-color: #0bb95d;
    box-shadow: 0 0 6px #2bff93ad;
}

.metas-form button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #108f41;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: 0.1s;
}
.metas-form button:hover {
    background: #0ab154;
}

.lista-metas h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #01341e;
}

#container-metas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.meta-card {
    background: rgba(255,255,255,0.9);
    padding: 15px;
    border-radius: 12px;
    border-left: 6px solid #0ab154;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    animation: fadeIn 0.2s ease-out;
}
.meta-card h3 {
    color: #004528;
    margin-bottom: 5px;
}
.meta-card p {
    color: #01341e;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

.progress-bar-bg {
    width: 100%;
    height: 12px;
    background: #e0e0e0;
    border-radius: 10px;
    margin: 8px 0;
    overflow: hidden;
}

.progress-bar-fill {
    height: 100%;
    background: #cf0b0b;
    transition: width 0.3s ease;
}

.meta-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn-editar {
    background: #0f7a37;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-editar:hover {
    background: #12a64a;
}

.btn-excluir {
    background: #b03030;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-excluir:hover {
    background: #d84747;
}
